@page
@model Agencia_De_Turismo_App.Pages.CadastroCidadePage.DetailsModel
@{
    ViewData["Title"] = "Detalhes da Cidade";
}

<h2>Detalhes da Cidade</h2>

<div class="row">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">Nome da Cidade</dt>
            <dd class="col-sm-9">@Model.CidadeDestino.Nome</dd>

            <dt class="col-sm-3">País</dt>
            <dd class="col-sm-9">@Model.CidadeDestino.PaisDestino?.Nome</dd>

           
        </dl>

        <a asp-page="./Edit" asp-route-id="@Model.CidadeDestino.Id" class="btn btn-primary">Editar</a>
        <a asp-page="./Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>